@import '_variables';
.footer {
  background-color: $color-gray-8;
  margin-top: 4rem;
  // Sección superior del footer
  &__section-up {
    padding: 2.25rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  &__section-up-logo > svg {
    width: 180px;
  }
  &__bloque-social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__block-destinations {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  &__block-destination-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__block-destination-section ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  // Sección superior del footer dentro de las redes sociales
  &__section-up-social {
    display: flex;
    gap: 1rem;
  }

  // Sección inferior del footer
  &__section-down {
    background-color: $color-gray-9;
    color: $color-gray-5;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

}
