$header: '.header';


#{$header} {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;

  &__hamburger {
    display: flex;
  }

  &__logo {
    display: flex;
  }

  &__section-logo {
    display: flex;
    gap: 2rem;
  }

  &__links {
    display: none;
  }

  &__section-language {
    display: flex;
    gap: 0.25rem;
  }

  &__section-language span {
    display: none;
  }

  &__button-language {
    display: flex;
  }

  &__nav {
    position: absolute;
  }
}

.sidebar {
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  left: -100%;

  &--open {
    left: 0; /* Cuando .open está presente, el sidebar se desliza hacia la vista */
  }
}

/* Estilos específicos para tablets */
@media (min-width: 768px) {
  #{$header} {
    padding: 1rem 6rem;
    &__hamburger {
      display: none;
    }

    &__section-logo {
      gap: 4rem;
      align-items: center;
      justify-content: center;
    }

    &__section-language span {
      display: block;
    }

    &__links {
      display: flex;
      gap: 1.75rem;
    }
  }
}
