<nav class="sidebar_menu">
  <ul>
    <li class="sidebar_menu__item"><button>Check-in</button></li>
    <li class="sidebar_menu__item"><button>Manage my booking</button></li>
    <li class="sidebar_menu__item"><button (click)="toggleInformation()">Information</button></li>
  </ul>
  <div class="sidebar_menu__information" [ngClass]="{'sidebar_menu__information--open': showInformation}">
    <h2>Information</h2>
    <ul>
      <li>
        Help center
      </li>
      <li>
        Flight state
      </li>
      <li>
        Airplanes
      </li>
      <li>
        Routes
      </li>
    </ul>
  </div>
</nav>
